/* body {
    background-color: rgb(72, 197, 197);
    height:auto;
    width: 980px;   
    
}

.container  {
    height: 600px;
    width: 880px;
    background-color: black;
    border-radius: 15px;
    border: 10px solid black;
    margin-left: 190px;
}
h1  {
    text-align: center;

}
#left  {
    height: 400px;
    width: 400px;
    border-radius: 15px;
    border: 10px solid black;
    background-color: wheat;
}

#imageContainer  {
    padding-top: 85px;
    padding-left: 85px
}

#winImage {
    height: 200px;
    width: 200px;
    border: 10px solid cornflowerblue;
}

#right  {
    height: 400px;
    width: 400px;
    border-radius: 15px;
    border: 10px solid black;
    background-color: wheat;

}
 */
